

@use "./mixins.scss" as *;
@use "./variables.scss" as *;


header{
    height: 100px;
    
    background-color: aqua;
    .container{
        height: 100%;

        a{
            img{
                width: 70px;
            }
        }
        ul{
            height: 100%;
            width: 70%;
        }
    }
    
}

